In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Users/shrayan/miniforge3/lib/python3.9/site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in /Users/shrayan/miniforge3/lib/python3.9/site-packages (from mysql-connector-python) (3.18.1)

In [1]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="127.0.0.1",user="root", passwd="harryedward",use_pure=True)
    # check if the connection is established

    query = "SHOW DATABASES"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print(cursor.fetchall())

except Exception as e:
    mydb.close()
    print(str(e))

[('information_schema',), ('mysql',), ('performance_schema',), ('Student',), ('sys',)]

In [10]:
conn=connection.connect(host="127.0.0.1",user="root", passwd="harryedward",use_pure=True)

In [18]:
cur = conn.cursor()

In [19]:
cur.execute("show databases")

In [20]:
res = cur.fetchall()

In [21]:
res

[('information_schema',), ('mysql',), ('performance_schema',), ('sys',)]

In [22]:
for i in res:
    print(i[0])

information_schema
mysql
performance_schema
sys

In [17]:
#Creating a database as Student and a table as "StudentDetails"

In [23]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="127.0.0.1", user="root", passwd="harryedward",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "Create database Student;"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Database Created!!")
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
Database Created!!

In [24]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="127.0.0.1", database = 'Student',user="root", passwd="harryedward",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "CREATE TABLE StudentDetails (Studentid INT(10) AUTO_INCREMENT PRIMARY KEY,FirstName VARCHAR(60)," \
            "LastName VARCHAR(60), RegistrationDate DATE,Class Varchar(20), Section Varchar(10))"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Table Created!!")
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
Table Created!!

In [43]:
mydb = connection.connect(host="127.0.0.1", database = 'Student',user="root", passwd="harryedward",use_pure=True)

In [44]:
mydb.is_connected()

True

In [45]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="127.0.0.1", database = 'Student',user="root", passwd="harryedward",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    query = "INSERT INTO StudentDetails VALUES ('1133','Shrayan','Bandyopadhyay','2000-09-10','College','A')"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Values inserted into the table!!")
    mydb.commit() #after inserting the data we have to commit the data which will finally insert the data to thedatabase. Else data will not be inserted to the database. 
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
1062 (23000): Duplicate entry '1133' for key 'studentdetails.PRIMARY'

In [46]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="127.0.0.1", database = 'Student',user="root", passwd="harryedward",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    query = "INSERT INTO StudentDetails VALUES ('1135','Shrayan2','Bandyopadhyay2','2000-09-10','College2','A2')"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Values inserted into the table!!")
    mydb.commit() #after inserting the data we have to commit the data which will finally insert the data to thedatabase. Else data will not be inserted to the database. 
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
1062 (23000): Duplicate entry '1135' for key 'studentdetails.PRIMARY'

In [47]:
#Fetching data from a table

In [21]:
import mysql.connector as connection 

try:
    mydb = connection.connect(host="127.0.0.1", database = 'Student',user="root", passwd="harryedward",use_pure=True)
    print(mydb.is_connected())
    cursor = mydb.cursor()
    query = "select * from StudentDetails"
    out = cursor.execute(query)
except Exception as e:
    mydb.close()
    print(str(e))

True

In [15]:
type(out)

NoneType

In [11]:
cursor.fetchall()

[(1132, 'Sachin', 'Kumar', datetime.date(1997, 11, 11), 'Eleventh', 'A'),
 (1133,
  'Shrayan',
  'Bandyopadhyay',
  datetime.date(2000, 9, 10),
  'College',
  'A'),
 (1135,
  'Shrayan2',
  'Bandyopadhyay2',
  datetime.date(2000, 9, 10),
  'College2',
  'A2')]

In [16]:
for i in cursor.fetchall():
    print(i)

(1132, 'Sachin', 'Kumar', datetime.date(1997, 11, 11), 'Eleventh', 'A')
(1133, 'Shrayan', 'Bandyopadhyay', datetime.date(2000, 9, 10), 'College', 'A')
(1135, 'Shrayan2', 'Bandyopadhyay2', datetime.date(2000, 9, 10), 'College2', 'A2')

In [25]:
mydb = connection.connect(host="127.0.0.1", database = 'Student',user="root", passwd="harryedward",use_pure=True)
print(mydb.is_connected())
cursor = mydb.cursor()
query = "select Studentid, FirstName from StudentDetails"
cursor.execute(query)
for i in cursor.fetchall():
    print(i)

True
(1132, 'Sachin')
(1133, 'Shrayan')
(1135, 'Shrayan2')

In [26]:
mydb.close()